<div class="breadcrumb-container">
  <div class="breadcrumb-item-container">
    <div class="breadcrumb-item">
      <mat-icon>home</mat-icon>
    </div>
    <div class="breadcrumb-divider-container">
      <div class="breadcrumb-divider"></div>
    </div>
  </div>
  <div class="breadcrumb-item-container">
    <div class="breadcrumb-item">
      <mat-icon>store</mat-icon>
      Shop
    </div>
    <div class="breadcrumb-divider-container">
      <div class="breadcrumb-divider"></div>
    </div>
  </div>
  <div class="breadcrumb-item-container">
    <div class="breadcrumb-item">
      <mat-icon>shopping_cart</mat-icon>
      Cart
    </div>
    <div class="breadcrumb-divider-container">
      <div class="breadcrumb-divider"></div>
    </div>
  </div>
  <div class="breadcrumb-item-container">
    <div class="breadcrumb-item">
      <mat-icon>credit_card</mat-icon>
      Checkout
    </div>
    <div class="breadcrumb-divider-container">
      <div class="breadcrumb-divider"></div>
    </div>
  </div>
</div>
