<div class="header-container">
  <div class="toggle-sidenav-button-container">
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="icons">
    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <span class="notifications-count">0</span>
      <img src="../../../assets/images/bell.svg" />
    </button>
    <mat-menu #notificationMenu="matMenu" xPosition="before">
      <div class="notifications-popup">Em breve notificações...</div>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <img src="../../../assets/images/profile.svg" />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>manage_accounts</mat-icon>
        <span>Meu Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Preferências</span>
      </button>
      <button id="header-logout-buttton" mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</div>
