<mat-card>
  <h1 class="vendor-title-2">Vendas e propostas</h1>

  <div class="d-flex justify-content-end mb-5">
    <button mat-raised-button class="me-3">Exportação</button>
    <button mat-raised-button color="primary">Criar Venda</button>
  </div>

  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <mat-text-column name="position" [headerText]="headerText"></mat-text-column>
  
    
    <mat-text-column name="name" headerText="Element"></mat-text-column>
  
    
    <mat-text-column name="weight" [dataAccessor]="getWeight"></mat-text-column>
  
    
    <mat-text-column name="symbol" justify="end"></mat-text-column>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
</mat-card>
