.app-container {
  display: flex;

  height: 100%;
}

app-sidenav {
  max-width: 260px;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: #f5f5f5;
  flex: 1;
  padding: 20px;
}
