<div class="sign-up-form">
  <h3 class="auth-title">Registrar-se</h3>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-inputs-container">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="fullName" />
        <mat-error>Este campo é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" />
        <mat-error>Este campo é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error>Este campo é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Confirmação da senha</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error>Este campo é obrigatório</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="mt-3">
        Registrar
      </button>

      <div class="text-muted text-center mt-5">
        Já tem uma conta? <a routerLink="/auth/login">Entrar</a>
      </div>
    </div>
  </form>
</div>
