@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import 'src/assets/styles/theme.scss';
@import 'src/assets/styles/inputs.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
input,
textarea,
button {
  font-family: 'Lato', 'Arial', sans-serif;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-login,
app-sign-up,
app-recovery-password,
app-restore-password {
  width: 100%;
}

.auth-title {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  color: $vendor-primary-normal;

  &::after {
    content: '';
    width: 70px;
    height: 3px;
    display: flex;
    background-color: $vendor-primary-normal;
    margin: 5px auto 0;
    border-radius: 15px;
  }
}

div.mat-drawer-inner-container {
  overflow: hidden;
}

.vendor-title-1 {
  font-size: 40px;
  font-weight: 200;
}

.vendor-title-2 {
  font-size: 35px;
  font-weight: 200;
}

.vendor-title-3 {
  font-size: 30px;
  font-weight: 200;
}

.vendor-title-4 {
  font-size: 25px;
  font-weight: 200;
}

.vendor-title-5 {
  font-size: 20px;
  font-weight: 200;
}

.vendor-title-6 {
  font-size: 15px;
  font-weight: 200;
}
