$vendor-primary-light: #777de1;
$vendor-primary-normal: #323bdb;
$vendor-primary-dark: #15195c;

$vendor-info-light: #70dbee;
$vendor-info-normal: #27cceb;
$vendor-info-dark: #125e6b;

$vendor-warning-light: #eec747;
$vendor-warning-normal: #ebb400;
$vendor-warning-dark: #6b5200;

$vendor-danger-light: #ee4a55;
$vendor-danger-normal: #eb0212;
$vendor-danger-dark: #6b0108;

$vendor-success-light: #47ee71;
$vendor-success-normal: #00eb3b;
$vendor-success-dark: #006b1b;

$vendor-gray-light: #ecf0f1;
$vendor-gray-normal: #797979;
$vendor-gray-dark: #333333;
